.body {
    overflow: hidden;}


.mene {
    display: flex;
    justify-content: space-between;
}

.shoptext,
.postertext,
.galeretext,
.contactstext {
font-family: 'Commissioner-Regular';
font-size: 2.1vw;
color: black;
text-decoration:none;
margin-top: 2.1vw;
} 

.main {
    padding: 1.8vw 2.1vw 0.6vw 2.1vw;

}

.logo {
    width: 15.4vw;
}

.contacts {
    padding: 2.3vw 4vw 2.3vw 4vw;
}

.shop{
    padding: 2.3vw 6vw 2.3vw 6vw;
}
.poster, 
.galere {
    padding: 2.3vw 5vw 2.3vw 5vw;
}

.main:hover,
.shop:hover,
.poster:hover,
.galere:hover,
.contacts:hover {
    background-color:#FE0000 ;
    cursor: pointer;
}

.first-container {
    position: relative;
}

.fistcontanttop {
    height: 22vw;
    background-color:#FE0000;  
    position: relative;
    overflow: hidden;
}

.cringewords {
position: absolute;
display: flex;
flex-direction: row;
}

.wordfirst{
    padding: 1.5vw 0 0 4vw ;
    width: 16.3vw;
}

.watchfr,
.watchsc,
.watchth,
.watchfot
 {width: 16.3vw;

}

.wordsecond{
    padding: 14.8vw 1vw 0 0 ;

}

.wordthird{
    padding: 2.3vw 0 0 18vw ;

}

.wordfouth{
    padding: 5.8vw 0 0 3vw ;

}


.fistcontop {
    
    display: flex;
    flex-direction: row;
    
}

.eyefr {
padding-top: 7vw;
margin-left: 7vw;
position: relative;
}

.eyesc {
    padding-top: 9vw;
    margin-left: 6vw;
    position: relative;
}

.eyeth {
    padding-top: 11vw;
    margin-left: 23vw;
    position: relative;
    }

.eyefot {
    padding-top: 5vw;
    margin-left: 8vw;
    position: relative;
    }

.eyefrimg,
.eyescimg {
    width: 12.5vw;
}

.eyethimg,
.eyefotimg  {
    width: 10vw;
}

.fistcondown {
position: relative;}

.mouthfr {
position: absolute;
margin-top: 2vw;
margin-left: 15vw;
z-index: 3;
}

.mouthfrimg {
width: 19.4vw;

}

.firstconwhite {
height: 23vw;
}




.firstconwhite {
    display: flex;
    flex-direction: row;
    font-family: 'Commissioner-ExtraLight';
    font-style: italic;
    text-transform: uppercase;
}

.freedom {
font-size: 2.8vw;
margin-left: 1vw;
animation: fall-bounce 2s ease-in-out infinite;

}
.inclu {
    font-size: 2.3vw;
    margin-top: 18vw;
    margin-left: 33vw;
    
    animation: stroke 1s infinite reverse;
}

.mouthconwhite {
    margin-left: 13vw;

}

.respect {
    font-size: 5.2vw;
    margin-top: 2vw;
    margin-left: 2vw;
    animation: fall-bounce 2s ease-in-out infinite alternate-reverse;
}

.mouthimgsc {
    width: 14.8vw;
}

.normalfraze {
position: absolute;
z-index: 3;
}

.normalfrazeimg {
width: 42vw;
margin-top: 18vw;
margin-left: 31vw;
}

.fistrunsrtoke {
    height: 4vw;
    background-color:#FE0000;  
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: 3;
    }
  
p {
    font-size: 3vw;
    color: white;
    white-space: nowrap;
    animation: stroke 2s linear infinite;
    z-index: 4;
    
}
.runbold {
font-family: 'Commissioner-Bold';
}

.runitalicbold {
    font-family: 'Commissioner-Bold';
    font-style: italic;
}

.runitalic {
    font-family:'Commissioner-Regular' ;
    font-style: italic;
}

.runitaliclight {
    font-family:'Commissioner-ExtraLight';
    font-style: italic;

}

.runregular {
    font-family:'Commissioner-Regular' ;
}

.second-container {
position: relative;
overflow: hidden;

}

.point {
position: absolute;
margin-top: 18vw;
font-family:'Commissioner-ExtraLight';
font-style: italic;
font-size: 9.4vw;
text-transform: uppercase;
z-index: -1;

}

.allpoints {
    font-family:'Commissioner-Regular' ;
    font-size: 2.5vw;
    text-transform: lowercase;
   width: 80vw;
    height: 40vw;
   

}

.bloke {
    animation: fall-bounce 3s infinite linear;
    z-index: 0;
}

#frbloke {
width: 33vw;
background-color: #FE0000;
margin-top: 16vw ;
margin-left: 1vw;
position: absolute;
animation-delay: 0s;

}

#scbloke {
width: 32vw ;
background-color: #FE0000;
position: absolute;
margin-top: 5vw ;
margin-left: 60vw;
animation-delay: 0.1s;
}

#thbloke {
    width: 17.3vw ;
    background-color: #FE0000;
    position: absolute;
    margin-top: 9vw ;
margin-left: 33vw;
animation-delay: 0.3s;
}

#forthbloke {
    width: 31.9vw ;
    background-color: #FE0000;
    position: absolute;
    margin-top: 28vw ;
margin-left: 60vw;
animation-delay: 0.4s;
}

#fivbloke {
    width: 24.3vw ;
    background-color: #FE0000;
    position: absolute;
    margin-top: 17vw ;
    margin-left: 62vw;
    animation-delay: 0.6s;
}

.handleft,
.handright {
position: absolute;


}
.handleft {
top: -13vw;
z-index: 3;
transform: rotate(10deg);
left: -10vw;
animation: stroke 1s infinite linear;
}
.handright {
    top: 5vw;
    z-index: 3;
    transform: rotate(-10deg);
    left: 60vw;
    animation: stroke 1s infinite reverse;
    }

.handleftimg,
.handrightimg {
    width: 55vw;
}

.third-container {
height: 24vw;
position: relative;
}

.worddtridfr {
    position: absolute;
font-size: 3.5vw;
text-transform: uppercase;
transform: rotate(10deg);
font-family:'Commissioner-Regular';
top: 8vw;
animation: stroke 1s infinite reverse;
}

.worddtridsc {
    position: absolute;
    font-size: 8.9vw;
    text-transform: uppercase;
    font-style: italic;
    font-family:'Commissioner-Regular';
    top: 16vw;
    left: 15vw;
}

.worddtridth  {
    position: absolute;
    font-size: 3.5vw;
    font-family:'Commissioner-Regular';
    top: 16vw;
    left: 52vw;
    animation: stroke 1s infinite linear;
}

.worddtridfo  {
    position: absolute;
    font-size: 3.5vw;
    font-family:'Commissioner-Regular';
    top: 1vw;
    left: 52vw;
    animation: fall-bounce 1s infinite linear;
}
.worditalicbold {
    font-family: 'Commissioner-Bold';
    font-style: italic;
    text-transform: uppercase;
    animation: stroke 0.5s infinite reverse;
}

.worddtridfi  {
    position: absolute;
    font-size: 6.7vw;
    font-family:'Commissioner-Regular';
    text-transform: uppercase;
    top: 6vw;
    left: 71vw;
    transform: rotate(-20deg);
}

.fouth-container {
position: relative;
height: 15.2vw;
background-color: #FE0000;
}

.teem {
    font-family:'Commissioner-Regular';
    text-transform: uppercase;
    font-size: 4.4vw;
    font-style: italic;
    color: white;
    transform: rotate(-5deg);
    letter-spacing: 2vw;
    position: absolute;
    top: 7.5vw;
    left: 17vw;
}

/* ДОДЕЛАТЬ!!!!!!! */

/* ПЕРВАЯ СТРАНИЦА КРИНЖБАНДА */


/* СТРАНИЦА МАГАЗИН  */

.shop-container-first {
height: 21.6vw;
background-color: #FE0000;
position: relative;
}

.name-shop {
    font-size: 8.9vw;
    font-family:'Commissioner-Regular';
    text-transform: uppercase;
    font-style: italic;
    position: absolute;
    word-spacing: 9vw;
    top: 5vw;
    left: 9vw;
}

.shop-container-second {
display: flex;
flex-direction: row;
}

.shop-container-left,
.shop-container-right
 {
width: 50vw;
display: flex;
flex-direction: column;

}

.shop-red-sweather {
 width: 45vw ;
    height: 28vw ;
    border: 0.8vw solid #FE0000;
    border-top: none;
    position: relative;
}

.shop-honor {
    width: 40vw ;
    height: 28vw ;
    border: 0.8vw solid #FE0000;
    margin-top: 5vw;
    margin-left:5vw;
    position: relative;
}

.shop-bag-fr {
height: 20vw;
width: 36vw;
border: 0.8vw solid #FE0000;
margin-top: 5vw;
margin-left:1vw;
position: relative;

}

.shop-bag-sc {
    height: 22vw;
    width: 28vw;
    border: 0.8vw solid #FE0000;
    margin-top: 6vw;
    margin-left:17vw;
    position: relative;

}

.shop-white-sweather {
    width: 45vw ;
    height: 28vw ;
    border: 0.8vw solid #FE0000;
    margin-top: 10vw;
    margin-left: 2vw;
    position: relative;
}

.shop-bag-th {
    width: 30vw ;
    height: 28vw ;
    border: 0.8vw solid #FE0000;
    margin-top: 13vw;
    margin-left: 5vw;
    position: relative;
}

.shop-notebook {
width: 42.5vw;
height: 27vw ;
border: 0.8vw solid #FE0000;
margin-top: 8vw;
margin-left: 3vw;
position: relative;
}

.img-red-sweather {
position: absolute;
margin-top: -13vw;
margin-left: 8vw;
}

.redswimg {
width: 30.5vw;
}